# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMatrial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:DragonRealm.Items.FluxInfusedGold=true
    B:DragonRealm.Items.FluxInfusedIron=true
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockBloodStoneBrick=true
    B:WayofTime.bloodmagic.block.BlockCrystal=true
    B:WayofTime.bloodmagic.block.BlockDemonBase=true
    B:WayofTime.bloodmagic.block.BlockDemonLight=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarBase=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarCapBase=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:abused_master.avaritiaadditions.blocks.BaseBlock=true
    B:alexndr.api.content.blocks.SimpleBlock=true
    B:am2.blocks.BlockArsMagicaBlock=true
    B:am2.blocks.BlockArsMagicaOre=true
    B:am2.blocks.BlockEffigy=true
    B:am2.blocks.BlockWitchwoodLog=true
    B:am2.blocks.BlockWitchwoodPlanks=true
    B:arc.bloodarsenal.block.BlockBloodInfusedGlowstone=true
    B:arc.bloodarsenal.block.BlockBloodInfusedIron=true
    B:arc.bloodarsenal.block.BlockBloodInfusedWoodenLog=true
    B:arc.bloodarsenal.block.BlockBloodInfusedWoodenPlanks=true
    B:"arc.bloodarsenal.block.BlockBloodInfusedWoodenSlab$BlockBloodInfusedWoodenDoubleSlab"=true
    B:arc.bloodarsenal.block.BlockSlate=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:cofh.thermalfoundation.block.BlockOre=true
    B:cofh.thermalfoundation.block.BlockOreFluid=true
    B:cofh.thermalfoundation.block.BlockRockwool=true
    B:cofh.thermalfoundation.block.BlockStorage=true
    B:cofh.thermalfoundation.block.BlockStorageAlloy=true
    B:com.blakebr0.mysticalagriculture.blocks.BlockBase=true
    B:com.blakebr0.mysticalagriculture.blocks.BlockEssenceCoal=true
    B:com.blakebr0.mysticalagriculture.blocks.BlockWitherproofBlock=true
    B:com.blakebr0.mysticalagriculture.blocks.ore.BlockInferiumOre=true
    B:com.blakebr0.mysticalagriculture.blocks.ore.BlockProsperityOre=true
    B:com.blakebr0.mysticalagriculture.blocks.soulstone.BlockSoulstone=true
    B:com.brandon3055.brandonscore.blocks.BlockMobSafe=true
    B:"com.brandon3055.draconicevolution.DEFeatures$1"=true
    B:com.brandon3055.draconicevolution.blocks.DraconiumBlock=true
    B:com.brandon3055.draconicevolution.blocks.DraconiumOre=true
    B:com.dmonsters.blocks.Concrete=true
    B:com.dmonsters.blocks.FallingConcrete=true
    B:com.dmonsters.blocks.StrengthenedCobblestone=true
    B:com.dmonsters.blocks.StrengthenedStone=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonOre=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockGeneric=true
    B:com.infinityraider.agricraft.blocks.pad.BlockWaterPadFull=true
    B:com.inventorypets.cloudBlock=true
    B:com.inventorypets.sandBlock=true
    B:com.inventorypets.stoneBlock=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.legacy.aether.server.blocks.decorative.BlockPresnet=true
    B:com.legacy.aether.server.blocks.decorative.BlockSkyrootPlank=true
    B:com.legacy.aether.server.blocks.decorative.BlockZanite=true
    B:com.legacy.aether.server.blocks.dungeon.BlockDungeonBase=true
    B:com.legacy.aether.server.blocks.dungeon.BlockPillar=true
    B:com.legacy.aether.server.blocks.natural.BlockAetherDirt=true
    B:com.legacy.aether.server.blocks.natural.BlockAetherLog=true
    B:com.legacy.aether.server.blocks.natural.BlockHolystone=true
    B:com.legacy.aether.server.blocks.natural.BlockQuicksoil=true
    B:com.legacy.aether.server.blocks.natural.enchanted.BlockEnchantedGravitite=true
    B:com.legacy.aether.server.blocks.natural.ore.BlockAmbrosiumOre=true
    B:com.legacy.aether.server.blocks.natural.ore.BlockGravititeOre=true
    B:com.legacy.aether.server.blocks.natural.ore.BlockZaniteOre=true
    B:com.lothrazar.cyclicmagic.block.BlockDimensionOre=true
    B:com.mcmoddev.nethermetals.blocks.ModBlockOre=true
    B:com.mramericanmike.mikedongles.blocks.CompressBlock=true
    B:com.mramericanmike.mikedongles.blocks.CompressBlockMetal=true
    B:com.mramericanmike.mikedongles.blocks.MikeBlock=true
    B:com.mramericanmike.mikedongles.blocks.SpongeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.BeehiveBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.raoulvdberge.refinedstorage.block.BlockMachineCasing=true
    B:com.rwtema.extrautils2.blocks.BlockAngelBlock=true
    B:com.rwtema.extrautils2.blocks.BlockCompressed=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeGlass=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolid=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolidWood=true
    B:com.rwtema.extrautils2.blocks.BlockRedstoneClock=true
    B:com.rwtema.extrautils2.blocks.BlockSimpleDecorative=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBasic=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBrick=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACDoubleSlab=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACLog=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACOre=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockAbyssalStone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockAbyssalniteStone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockCalcifiedStone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockDarkstone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockDreadlandsDirt=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockDreadstone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockEthaxiumPillar=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockFusedAbyssalSand=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockSolidLava=true
    B:com.shinoow.abyssalcraft.common.blocks.IngotBlock=true
    B:com.superdextor.adinferos.blocks.BlockChiseledNetherrack=true
    B:com.superdextor.adinferos.blocks.BlockDimstone=true
    B:com.superdextor.adinferos.blocks.BlockHellOre=true
    B:com.superdextor.adinferos.blocks.BlockHugePurpleMushroom=true
    B:com.superdextor.adinferos.blocks.BlockNetherCraftingTable=true
    B:com.superdextor.adinferos.blocks.BlockNetherLog=true
    B:com.superdextor.adinferos.blocks.BlockNetherPlanks=true
    B:com.superdextor.adinferos.blocks.BlockNetherSpawn=true
    B:"com.superdextor.adinferos.init.NetherBlocks$1"=true
    B:com.superdextor.thinkbigcore.blocks.BlockCustom=true
    B:com.superdextor.thinkbigcore.blocks.BlockCustomOre=true
    B:com.theundertaker11.kitchensink.ksblocks.BlockBase=true
    B:com.wuest.prefab.Blocks.BlockCompressedObsidian=true
    B:com.wuest.prefab.Blocks.BlockCompressedStone=true
    B:crazypants.enderio.block.BlockDecoration=true
    B:crazypants.enderio.block.BlockDecorationFacing=true
    B:crazypants.enderio.block.BlockReinforcedObsidian=true
    B:crazypants.enderio.material.BlockIngotStorage=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockColoredLamp=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockCrystal=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockGeneric=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockLampPowerer=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockMisc=true
    B:erogenousbeef.bigreactors.common.block.BlockBRMetal=true
    B:erogenousbeef.bigreactors.common.block.BlockBROre=true
    B:fox.spiteful.avaritia.blocks.BlockDoubleCraft=true
    B:fox.spiteful.avaritia.blocks.BlockTripleCraft=true
    B:ic2.core.block.BlockMultiID=true
    B:ic2.core.block.BlockTexGlass=true
    B:ic2.core.block.BlockWall=true
    B:ic2.core.block.machine.BlockMiningPipe=true
    B:landmaster.plustic.block.MetalBlock=true
    B:lumien.randomthings.block.BlockBiomeStone=true
    B:lumien.randomthings.block.BlockContactLever=true
    B:lumien.randomthings.block.BlockDyeingMachine=true
    B:lumien.randomthings.block.BlockIgniter=true
    B:lumien.randomthings.block.BlockLapisLamp=true
    B:lumien.randomthings.block.BlockPod=true
    B:lumien.randomthings.block.BlockQuartzLamp=true
    B:lumien.randomthings.block.BlockRainbowLamp=true
    B:lumien.randomthings.block.BlockStainedBrick=true
    B:mcjty.rftools.blocks.MachineBase=true
    B:mcjty.rftools.blocks.MachineFrame=true
    B:mcjty.rftools.blocks.ores.DimensionalShardBlock=true
    B:mcjty.rftools.blocks.teleporter.DestinationAnalyzerBlock=true
    B:mcjty.rftools.blocks.teleporter.MatterBoosterBlock=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:mekfarm.blocks.DungBlock=true
    B:mekfarm.blocks.DungBricks=true
    B:mob_grinding_utils.blocks.BlockDarkOakStone=true
    B:mob_grinding_utils.blocks.BlockDragonMuffler=true
    B:mob_grinding_utils.blocks.BlockWitherMuffler=true
    B:"mod.mcreator.mcreator_chaosBlock$BlockChaosBlock"=true
    B:"mod.mcreator.mcreator_componentblockone$BlockComponentblockone"=true
    B:"mod.mcreator.mcreator_componentblockthree$BlockComponentblockthree"=true
    B:"mod.mcreator.mcreator_componentblocktwo$BlockComponentblocktwo"=true
    B:"mod.mcreator.mcreator_discblock$BlockDiscblock"=true
    B:"mod.mcreator.mcreator_discblockthree$BlockDiscblockthree"=true
    B:"mod.mcreator.mcreator_discblocktwo$BlockDiscblocktwo"=true
    B:"mod.mcreator.mcreator_extremeMaterial$BlockExtremeMaterial"=true
    B:"mod.mcreator.mcreator_turretAmmo1$BlockTurretAmmo1"=true
    B:"mod.mcreator.mcreator_turretAmmo2$BlockTurretAmmo2"=true
    B:"mod.mcreator.mcreator_turretbaset5$BlockTurretbaset5"=true
    B:"mod.mcreator.mcreator_turrett5$BlockTurrett5"=true
    B:nc.block.BlockIngot=true
    B:nc.block.BlockOre=true
    B:nc.block.NCBlock=true
    B:nc.block.fission.BlockCooler=true
    B:nc.block.fission.BlockFission=true
    B:nc.blocks.BlockIngot=true
    B:nc.blocks.BlockOre=true
    B:nc.blocks.NCBlock=true
    B:nc.blocks.fission.BlockCooler=true
    B:nc.blocks.fission.BlockFission=true
    B:net.darkhax.bookshelf.features.bookshelves.BlockWoodenShelf=true
    B:net.darkhax.darkutils.features.material.BlockWitherDust=true
    B:net.darkhax.darkutils.features.shulkerpearl.BlockShulkerPearl=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockDoubleStoneSlab=true
    B:net.minecraft.block.BlockDoubleStoneSlabNew=true
    B:net.minecraft.block.BlockDoubleWoodSlab=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:net.silentchaos512.scalinghealth.block.BlockCrystalOre=true
    B:net.thedragonteam.armorplus.blocks.castle.base.BlockStoneBrick=true
    B:net.thedragonteam.armorplus.blocks.normal.BlockLavaCrystal=true
    B:net.thedragonteam.armorplus.blocks.normal.BlockLavaCrystalCharged=true
    B:net.thedragonteam.armorplus.blocks.normal.CompressedObsidian=true
    B:net.thedragonteam.armorplus.blocks.normal.LavaNetherBrick=true
    B:net.thedragonteam.armorplus.blocks.normal.OreLavaCrystal=true
    B:net.thedragonteam.armorplus.blocks.v2.BaseMetalBlock=true
    B:powercrystals.minefactoryreloaded.block.BlockRubberWood=true
    B:powercrystals.minefactoryreloaded.block.transport.BlockFactoryRoad=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:sonar.core.common.block.BlockBase=true
    B:sonar.core.common.block.StableStone=true
    B:"team.chisel.Features$18$1"=true
    B:"team.chisel.Features$29$1"=true
    B:"team.chisel.Features$30$1"=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$32$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$36$1"=true
    B:"team.chisel.Features$47$1"=true
    B:"team.chisel.Features$48$1"=true
    B:"team.chisel.Features$55$1"=true
    B:"team.chisel.Features$56$1"=true
    B:"team.chisel.Features$6$1"=true
    B:"team.chisel.Features$7$1"=true
    B:"team.chisel.Features$71"=true
    B:"team.chisel.Features$72"=true
    B:"team.chisel.Features$9$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableAltarComponent=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:team.chisel.common.block.BlockCarvableFalling=true
    B:team.chisel.common.block.BlockCarvableTranquility=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vswe.stevescarts.blocks.BlockMetalStorage=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


